*{
	font-family: Lato, sans-serif;
}
div{
	border: grey dotted 1px;
}
#details div{
  display:block !important;
}
#weatherdisplay div{
  display:inline-block;
}
#weatherdetails{
	background-color:white;
	border: 15px solid white;
	border-radius: 5px;
}
#temp{
  font-size:75px;
  font-weight: 700;
}
.location{
  font-size: 26px;
  display: block !important;
  margin: auto;
}
body{
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #210070, #5ad8f8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #210070, #5ad8f8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #210070, #5ad8f8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #210070, #5ad8f8); /* Standard syntax */
}
h1{
	color:white !important;
	letter-spacing: 4px;
	font-weight: 200;
	font-size:3.6em;
	font-family: Lobster, cursive;
}

h2, h3, h4, h5, h6, p{
	color:#08176a;
}
header div{
	display:inline;
}
#degree{
	position:relative;
	margin: auto;
	float:right;
	min-height: none;
	display:inline-block;
}
#clothing{
	width: 200px;
	color: white;
	border: 15px solid white;
	border-radius: 5px;
}
#content{
	background-color: white;
	border: white 5px solid;
	border-radius: 5px;
	<!-- display: -webkit-flex; -->
}
.smpic{
	float:right;
	max-width:75px;
}
<!-- CSS media query within a stylesheet -->


@media only screen and (max-device-width : 480px){
	#content{
		margin:0px;
	}
}
@media (min-width: 480px){
	#content{
		margin:0px 100px;
	}
}